.botao {
    width: 257px;
    height: 50px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

@media(min-width: 576px) {
    .botao {
        width: 496px;
        height: 65px;
        margin-bottom: 10px;
    }
}

@media(min-width: 768px) {
    .botao {
        width: 608px;
        height: 50px;
    }
}

@media(min-width: 992px) {
    .botao {
        width: 400px;
    }
}